MQTT+ESP32CAM.json
[
    {
        "id": "6fcfda10.bc7b2c",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4cd9e330.a7889c",
        "type": "mqtt in",
        "z": "6fcfda10.bc7b2c",
        "name": "",
        "topic": "esp32/data/temperatura",
        "qos": "2",
        "datatype": "auto",
        "broker": "edd3004a.11da88",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 150,
        "y": 120,
        "wires": [
            [
                "a81b6cb7.b8e24",
                "9ab54791.4f9a8"
            ]
        ]
    },
    {
        "id": "a81b6cb7.b8e24",
        "type": "ui_text",
        "z": "6fcfda10.bc7b2c",
        "group": "f9ff6e54.b1e71",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 410,
        "y": 120,
        "wires": []
    },
    {
        "id": "842756d3.0ca3d",
        "type": "ui_switch",
        "z": "6fcfda10.bc7b2c",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "f370cfb7.9f1c18",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 110,
        "y": 240,
        "wires": [
            [
                "938b5dd7.0973c8"
            ]
        ]
    },
    {
        "id": "938b5dd7.0973c8",
        "type": "mqtt out",
        "z": "6fcfda10.bc7b2c",
        "name": "",
        "topic": "esp32/output",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "edd3004a.11da88",
        "x": 430,
        "y": 240,
        "wires": []
    },
    {
        "id": "9ab54791.4f9a8",
        "type": "debug",
        "z": "6fcfda10.bc7b2c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 80,
        "wires": []
    },
    {
        "id": "fd615182.981228",
        "type": "mqtt in",
        "z": "6fcfda10.bc7b2c",
        "name": "",
        "topic": "esp32/data/humedad",
        "qos": "2",
        "datatype": "auto",
        "broker": "edd3004a.11da88",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 140,
        "y": 180,
        "wires": [
            [
                "9cb6993d.b82ba8",
                "9ab54791.4f9a8"
            ]
        ]
    },
    {
        "id": "9cb6993d.b82ba8",
        "type": "ui_text",
        "z": "6fcfda10.bc7b2c",
        "group": "f9ff6e54.b1e71",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 410,
        "y": 180,
        "wires": []
    },
    {
        "id": "edd3004a.11da88",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.100.26",
        "port": "1883",
        "clientid": "victorEsal-SIC",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "f9ff6e54.b1e71",
        "type": "ui_group",
        "name": "Rx",
        "tab": "5341aebf.115e08",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f370cfb7.9f1c18",
        "type": "ui_group",
        "name": "Tx",
        "tab": "5341aebf.115e08",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5341aebf.115e08",
        "type": "ui_tab",
        "name": "Comunicación MQTT con ESP32CAM",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]
